
<div *ngIf="data" class="container">

  <h2>Invoice #{{data.invoice.invoiceNumber}}</h2>

  <p><b>Customer:</b> {{data.invoice.customerName}}</p>
  <p><b>Status:</b> <span class="status {{data.invoice.status}}">
  {{data.invoice.status}}
  </span>
  </p>
  <p><b>Due Date:</b> {{data.invoice.dueDate | date}}</p>

  <div *ngIf="data.isOverdue" class="overdue">
    OVERDUE
  </div>


  <hr>
  <div class="add-item-box">
  <h4>Add Line Item</h4>

  <input placeholder="Description" [(ngModel)]="newItem.description">
  <input type="number" placeholder="Qty" [(ngModel)]="newItem.quantity">
  <input type="number" placeholder="Unit Price" [(ngModel)]="newItem.unitPrice">

  <button (click)="addLineItem()">Add Item</button>
  </div>


  <h3>Line Items</h3>

  <table border="1" width="100%">
    <tr>
      <th>Description</th>
      <th>Qty</th>
      <th>Unit Price</th>
      <th>Total</th>
    </tr>
    <tr *ngFor="let line of data.lines">
      <td>{{line.description}}</td>
      <td>{{line.quantity}}</td>
      <td>{{line.unitPrice}}</td>
      <td>{{line.lineTotal}}</td>
    </tr>
  </table>

  <hr>
  <div class="summary-box">
    <h3>Summary</h3>

    <div class="summary-row">
      <span>Subtotal:</span>
      <span>{{ subtotal | currency:'INR' }}</span>
    </div>

    <div class="summary-row">
      <span>Tax ({{data?.invoice?.taxPercent}}%):</span>
      <span>{{ taxAmount | currency:'INR' }}</span>
    </div>

    <div class="summary-row total">
      <span>Total:</span>
      <span>{{ total | currency:'INR' }}</span>
    </div>

    <div class="summary-row">
      <span>Paid:</span>
      <span>{{ totalPaid | currency:'INR' }}</span>
    </div>

    <div class="summary-row balance">
      <span>Balance:</span>
      <span>{{ balance | currency:'INR' }}</span>
    </div>
  </div>

  <hr>

  <h3>Payments</h3>

  <table *ngIf="data.payments.length > 0">
    <tr>
      <th>Amount</th>
      <th>Date</th>
    </tr>
    <tr *ngFor="let p of data.payments">
      <td>{{p.amount | currency:'INR'}}</td>
      <td>{{p.paymentDate | date}}</td>
    </tr>
  </table>

  <p *ngIf="data.payments.length === 0">
    No payments yet
  </p>

  <br>

  <input type="number"
        [(ngModel)]="paymentAmount"
        placeholder="Enter amount"
        [disabled]="data.invoice.isArchived">
  <button type="button" (click)="addPayment()">Add Payment</button>



</div>
